body {
	font-family: 'Lobster', cursive;
	text-shadow : 5px 5px 10px black;
	color: white;
	background: #304209;
	background: url('../img/paisaje.jpg') no-repeat center center fixed; 
	background-size: cover;
}

.petalos {
	width: 200px;
	height: 200px;
	/* border: 3px dotted white; */
	box-shadow: 20px 20px 30px black;
}

#uno {
	left: 0;
	background: rgba(248,80,50,1);
	background: linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
	border-radius: 50% 50% 0 50%;
}

#dos {
	left: 200px;
	background: rgba(183,222,237,1);
	background: linear-gradient(135deg, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
	border-radius: 50% 50% 50% 0;
}

#tres {
	left: 0;
	top: 200px;
	background: linear-gradient(135deg, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
	border-radius: 50% 0 50% 50%;
}

#cuatro {
	left: 200px;
	top: 200px;
	background: rgba(203,96,179,1);
	background: linear-gradient(45deg, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 50%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
	border-radius: 0 50% 50% 50%;
}

.col {
	float: left;
	position: absolute;
}

.col2 {
	float: left;
	position: absolute;
}

#girar {
	/*border: 2px solid red;*/
	width: 400px;
	height: 400px;
	position: relative;
	margin: auto;
	margin-top: 80px;
	transition: all 1s;
	transform-origin: center center;
	cursor: pointer;
}

#girar:hover {
  transform: rotate(720deg);
}